.scroll-to-top {
    position: fixed;
    bottom: 15px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    color: #f0a500; /* Customize color */
    transition: opacity 0.3s ease-in-out;
  }
  
  .scroll-to-top:hover {
    color: #ffb700; /* Change on hover */
  }
  
  .top-btn-style {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid #333;
    background-color: #fff;
    color: #333;
    cursor: pointer;
  }